<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Breadlist: Index</title>{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'classifieds/style.css' %}">
  </head>
  <body>
    <header>
      <h1>Breadlist</h1>
      <h2>Index</h2>
    </header>
    <nav>
    </nav>
    <main>{% for locale in locale_list %}
      <section id={{ locale.locale_name }}>
        <h3 class="locale"><a href="{% url 'classifieds:locale' locale.locale_name %}">{{ locale.locale_name }}</a></h3>
      </section>{% endfor %}
      <aside>
      </aside>
    </main>
  </body>
</html>
