<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Breadlist Index: {{ locale }}</title>{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'classifieds/style.css' %}">
  </head>
  <body>
    <header>
      <h2>{{ locale }}</h2>
    </header>
    <nav>
      <img id="kropotkin" src="{% static "classifieds/images/kropotkin.jpg" %}" alt="the face of peter kropotkin done in a woodblock style"></img>
      <h1><a href="{% url 'classifieds:index' %}">Breadlist</a></h1>{% for p in page_list %}
      <li id={{ p }}><a href="{% url 'classifieds:page' p.page_name %}">{{ p }}</a></li>{% endfor %}
    </nav>
    <main>
      {% for s in section_list %}
      <section class={{ s }}>
        <h3 class="section"><a href="{% url 'classifieds:section' locale s %}">{{ s}}</a></h3>
        <ul>
          {% for ss in subsection_list %}
          <li class="subsection"><a href="{% url 'classifieds:subsection' locale s ss %}">{{ ss }}</a></li>{% endfor %}
        </ul>
      </section>{% endfor %}
    </main>
    <aside>{% for l in locale_list %}
        <li class="sidebar-locale"><a href="{% url 'classifieds:locale' l %}">{{ l }}</a></li>{% endfor %}
    </aside>
    <footer>
      <li><a href="{% url 'classifieds:index' %}">back to index</a></li>
    </footer>
  </body>
</html>
