<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Breadlist Index: {{ locale_name }}</title>
  </head>
  <body>
    <header>
      <h1>Breadlist</h1>
      <h2>{{ locale_name }}</h2>
    </header>
    <nav>
    </nav>
    <main>
      {% for section in section_list %}
      <section>
        <h3 class="section"><a href="{% url 'classifieds:section' locale_name section.section_name %}">{{ section.section_name }}</a></h3>
        <ul>
          {% for subsection in subsection_list %}
          <li class="subsection"><a href="{% url 'classifieds:subsection' locale_name section.section_name subsection.subsection_name %}">{{ subsection.subsection_name }}</a></li>{% endfor %}
        </ul>
      </section>{% endfor %}
      <aside>
      </aside>
    </main>
    <footer>
      <li><a href="{% url 'classifieds:index' %}">back to index</a></li>
    </footer>
  </body>
</html>
