<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Breadlist: {{ section }} in {{ locale }}</title>{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'classifieds/style.css' %}">
  </head>
  <body>
    <header>
      <h2><a href="{% url 'classifieds:locale' locale %}">{{ locale }}</a></h2>
      <h3>{{ section }}</h3>
    </header>
    <nav>
      <img id="kropotkin" src="{% static "classifieds/images/kropotkin.jpg" %}" alt="the face of peter kropotkin done in a woodblock style"></img>
      <h1><a href="{% url 'classifieds:index' %}">Breadlist</a></h1>{% for p in page_list %}
      <li id={{ p }}><a href="{% url 'classifieds:page' p.page_name %}">{{ p }}</a></li>{% endfor %}
    </nav>
    <main>{% if section_classified_list %}
      <ul>
      {% for c in section_classified_list %}
          <li><a href="{% url 'classifieds:detail' locale section subsection c.id %}">{{ c }}</a></li>{% endfor %}
      </ul>{% else %}
      <p>No classifieds are available.</p>{% endif %}
    </main>
    <aside>{% for r in region_list %}
        <li class="sidebar-locale"><a href="{% url 'classifieds:region' r %}">{{ r }}</a></li>{% endfor %}
    </aside>
    <footer>
      <li><a href="{% url 'classifieds:locale' locale.abbreviation %}">back to {{ locale }}</a></li>
      <li><a href="{% url 'classifieds:index' %}">back to index</a></li>
    </footer>
  </body>
</html>
